body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    height: 100vh;
}

#ticTacGame {
    border-spacing: 0px;
    border-collapse: separate;
    margin: 30px auto;
}

#ticTacGame td {
    border: 1px solid #585858;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    cursor: pointer;
}

#ticTacGame tr:first-child td,
#cell-1 {
    border-top: none
}

#ticTacGame tr:last-child td,
#cell-9 {
    border-bottom: none
}

#ticTacGame tr td:first-child,
#cell-1 {
    border-left: none;
}

#ticTacGame tr td:last-child,
#cell-9 {
    border-right: none;
}

.gamer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #2b2727;
    font-weight: 400;
}

#ticTacGame td.X,
#player1 {
    color: #630791;
}

#ticTacGame td.O,
#player2 {
    color: #006411;
}

.score {
    text-align: center;
    font-size: 2.2rem
}

.score#player1,
.x {
    color: #630791;
}

.score#player2,
.o {
    color: #006411;
}

.ticTacToe-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: auto;
}

button {
    background: #bf0000;
    border: 0;
    padding: 0.75rem 2rem;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #5a5353;
}

.withComputer td {
    width: 150px;
    height: 150px;
    font-size: 4.5rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(33, 33, 33);
    cursor: pointer;
}

.withComputer table {
    margin: auto;
}

.btn {
    text-decoration: none;
    font-size: 1rem;
    background: #17161d;
    border: 0;
    padding: 0.6rem 2rem;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
}